<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="mainMenuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Seçenekler</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item class="item-icon-left">
          <i class="icon ion-ios-person-outline positive"></i>
          {{courier.Name}}
        </ion-item>

        <ion-item menu-close class="item-icon-left" href="#/app/order">
          <i class="icon ion-ios-star-outline positive"></i>
          Teslimatlar
        </ion-item>

        <ion-item menu-close class="item-icon-left" href="#/app/account/history">
          <i class="icon ion-ios-paper-outline positive"></i>
          Geçmiş Teslimatlar
        </ion-item>

        <ion-item menu-close class="item-icon-left" ng-click="logout()">
          <i class="icon ion-log-out assertive"></i>
          Çıkış Yap
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
