    <div class="list card">

      <ion-item class="item-divider" ng-click="toggleClientDetailsExpanded()">
        <h3>Restoran: {{courier.Order.Client.Name}}</h3>
      </ion-item>

      <ion-item class="item" ng-show="isClientDetailsExpanded">

          <span class="input-label positive text-bold">Adres</span>
          <span class="item-text-wrap">{{courier.Order.Client.Address}}</span>
          <hr>
          <span class="input-label positive text-bold">Tarif</span>
          <span class="item-text-wrap">{{courier.Order.Client.AddressDescription}}</span>
          <hr>
          <span class="input-label positive text-bold">
            Telefon:
            <a class="padding-left" ng-href="tel: 0{{order.Client.Phone}}">{{courier.Order.Client.Phone}}</a>
          </span>
          <hr>
          <span class="input-label positive text-bold">
            İrtibat:
            <a class="padding-left" ng-href="tel: 0{{order.Client.ContactPhone}}">{{courier.Order.Client.ContactName}}</a>
          </span>

      </ion-item> <!-- Item Content -->

    </div> <!-- List Item -->

