<ion-view view-title="Paket Kontrol">
  <ion-content ng-model="order" has-header="true" has-tabs="true">
    <ion-list>

      <h3 class="title text-center">Lütfen seçtiğiniz paketlerin doğruluğunu kontrol ediniz.</h3>

      <ion-item>
        <i class="icon icon-left ion-ios-box"></i>
        Seçtiğiniz Paket Sayısı: {{packages.length}}
      </ion-item>

      <ion-item ng-repeat="package in packages" ng-style="{padding:0}">
        <div ng-include src="'templates/OrderPackageDetailsListCardTemplate.html'"></div>
      </ion-item>

      <div class="list list-inset">
        <button class="button button-block button-assertive" ng-click="chosePackagesAgain()">

          <div class="item-icon-left">
            <i class="icon ion-chevron-left"></i>
            Paketleri Tekrar Seç
          </div>

        </button>
      </div>

      <div class="list list-inset">
        <button class="button button-block button-balanced" ng-click="advanceToOutForDelivery()">

          <div class="item-icon-right">
            <i class="icon ion-chevron-right"></i>
            Teslimata Başla
          </div>

        </button>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
