<ion-view view-title="Siparişiniz Var!" name="order-courierAssigned-view" >

  <ion-content class="" ng-model="order">
    <br/>
    <h3 class="title text-center">Lütfen restorana gidiniz.</h3>

    <span ng-include src="'templates/OrderClientDetailsListCardTemplate.html'"></span>
    <span ng-include src="'templates/OrderOpDetailsListCardTemplate.html'"></span>

    <div class="list list-inset">
        <button class="button button-block button-balanced" ng-click="arriveAtClient()">
          <i class="icon icon-left ion-android-restaurant"></i>
          Restorana Vardım
        </button>
    </div>

  </ion-content>
</ion-view>