<ion-view view-title="Paketleri alınız" name="order-courierWithClient-view" >

  <ion-content class="" ng-model="courier">
    <br/>
    <h3 class="title text-center">Lütfen paketleri teslim alınız.</h3>

    <div ng-include src="'templates/OrderClientDetailsListCardTemplate.html'"></div>
    <div ng-include src="'templates/OrderOpDetailsListCardTemplate.html'"></div>

    <div class="list list-inset">
        <button class="button button-block button-balanced" ng-click="choosePackages()">
          <i class="icon icon-left ion-ios-chart"></i>
          Paketleri Seç
        </button>
    </div>

  </ion-content>
</ion-view>