<ion-view view-title="Pratik Kurye" name="welcome-view">

  <div class="bar bar-header bar-positive">
  </div>
  <ion-content class="padding" >
      <center>
        <!--img src="img/botechLogo.jpg" style="margin-top:150px; margin-bottom:10px;margin-left:auto"-->
      </center>
      <!--div class="list list-inset"  >

          <a class="button button-block button-positive" href="#/account/login">Giriş</a>

          <a class="button button-block button-assertive" href="#/account/register">Kayıt Ol</a>

      </div-->
    
          
  </ion-content>
</ion-view>