<ion-view view-title="Kullanıcı Girişi" name="login-view">
  <ion-content class="padding">
    <br>

    <div class="list list-inset">
      <label class="item item-input">
          <input type="email" placeholder="kurye@pratikkurye.com" ng-model="data.userName">
      </label>
      <label class="item item-input">
          <input type="password" placeholder="Şifre" ng-model="data.password">
      </label>
    </div>

    <br>
    <button class="button button-block button-calm" ng-click="login()">Giriş Yap</button>
    <br>

    <div style="text-align:center">
      <a href="#/welcome/loginDetails">Detaylar</a>
    </div>
  </ion-content>
</ion-view>